:root {
    --border-color: #80a0ff;
    --bg-color: #a0b8ff;
    --bg-color2: #728fe6;
}

.calendar {
    width: 100%;
    height: 95.4%;
    .header {
        width: 100%;
        height: 7%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        .col.col-first {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 1%;
            .text {
                font-size: 0.8em;
            }
            .text.month {
                margin-right: 5px;
                font-size: 1.6em;
                font-weight: 600;
            }
        }
        .col.col-end {
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: baseline;
            svg {
                width: 11%;
                height: fit-content;
                margin-left: 5%;
                color: transparentize(gray, 0.2);
                cursor: pointer;
                &:hover {
                    transition: 0.2s ease-in-out;
                    transform: scale(1.15);
                    color: #999;
                }
                path{
                    cursor: pointer;
                }
            }
        }
    }
    .days {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        font-size: 0.65em;
        padding: 2px;
        color: #728fe6;
        .col {
            width: 12.9%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            padding-left: 1%;
            padding-top: 1%;
            background: transparentize(#a0b8ff, 0.6);
            border-radius: 10px;
        }
    }
    .body {
        width: 100%;
        height: 89%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .row {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .col {
                width: 13.5%;
                height: 93%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                border: 1px solid #a0b8ff;
                border-radius: 3px;
                font-size: 0.8em;
                background: #fff;
                span {
                    margin: 4px 0 0 4px;
                }
                .not-valid {
                    color: #c4c4c4;
                }
                img {
                    opacity: 0.1;
                }
            }
            .col.cell.valid {
                transition: 0.2s;
                    &:hover {
                        box-shadow: 3px 3px 5px -4px;
                    }
            }
            .col.cell.dday {
                transition: 0.2s;
                background: rgba(255, 176, 176, 0.349);
                    &:hover {
                        box-shadow: 3px 3px 5px -4px;
                    }
            }
            .col.cell.selected {
                transform: scale(1.02);
                background: #a0b8ff98;
                color: #728fe6;
                font-weight: 600;
            }
        }
    }
}