@font-face {
    font-family: 'CBNUJIKJI';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/CBNUJIKJI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@keyframes loadingAni {
    0%{transform: rotate(0deg) scale(1);}
    50%{transform: rotate(180deg) scale(1.05);}
    100%{transform: rotate(360deg) scale(1);}
}

@keyframes clockDot {
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

:root {

    --border-color: #80a0ff;
    --button-color: #ccd9ff;
    --bg-color: #a0b8ff;
    --bg-color2: #728fe6;
    --bg-color3: rgba(175, 238, 238, 0.2);
    --text-color: #3b4975;
}

//reset
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
    border-collapse: collapse;
}
img{
    vertical-align: top;
    width: 100%;
    height: 100%;
}

.App{
    height: 100vh;
    width: 100%;
    font-family: 'GmarketSansMedium';
}


input{
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #999;
    padding-left: 10px;
    outline: none;
    font-size: 14px;
    cursor: text;
}

button{
    width: 80px;
    height: 55px;
    padding-top: 3px;
    border: 1px solid var(--border-color);
    outline: none;
    transition: 0.5s;
    background: var(--button-color);
    color: var(--text-color);
    cursor: pointer;
    &:hover{
        background: var(--bg-color2);
    }
}

.inner{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}
.subinner{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
}
#loading {
    width: 100%;
    height: 80vh;
    img {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-name: loadingAni;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
    }
}
#notCookie{
    width: 100%;
    height: 80vh;
    p {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.blackBg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    z-index: 10;
}
.pre{
    font-family: 'GmarketSansMedium';
    color: var(--text-color);
}
//reset end

//front
#frontWindow{
    font-family: 'GmarketSansMedium';
    width: 500px;
    height: 300px;
    background: #fff;
    border: 1px solid #999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    h2{
        margin: 0 auto;
        margin-bottom: 10px;
        width: 80%;
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #999;
        text-align: center;
    }
    #loginForm{
        padding: 0 55px;
        align-items: center;
        #loginShadow{
            box-shadow: 3px 3px 5px -4px;
            border-radius: 6px;
        }
        button{
            color: var(--text-color);
            width: 100%;
            font-size: 18px;
            border-radius: 6px;
            height: 40px;
        }
        #loginInputs{
            display: flex;
            flex-direction: column;
            border-radius: 6px;
            box-shadow: 3px 3px 5px -4px;
            margin-top: 35px;
            margin-bottom: 20px;
            input{
                cursor: text;
                outline: var(--border-color);
                width: 100%;
                height: 40px;
                &:first-child{
                    margin-bottom: -1px;
                    border-radius: 6px 6px 0 0;
                }
                &:last-child{
                    border-radius: 0 0 6px 6px;
                }
            }
        }
    }
    #loginMenus {
        display: flex;
        justify-content: space-between;
        padding: 0 150px;
        margin-top: 30px;
        p{
            color: #999;
            transition: 0.5s;
            cursor: pointer;
            &:hover{
                color: var(--bg-color2);
            }
        }
    }
}


//front end

//header

#header{
    height: 60px;
    border-bottom: 1px solid #728fe652;
    > div{
        height: 100%;
    }
    #innerHeader{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
        #title{
            a{
                color: var(--text-color);
            }
        }
        ul{
            display: flex;
            li{
                margin-left: 20px;
                color: #999;
                cursor: pointer;
                transition: 0.5s;
                &:hover{
                    color: var(--bg-color2);
                }
            }
        }
    }
}

//header end

//footer

#footer{
    text-align: center;
    padding-top: 60px;
    height: 250px;
    background: #333;
    color: #888;
    #footerTop{
        font-weight: bold;
        display: flex;
        p{
            &:first-child{
                padding-right: 10px;
                margin-right: 10px;
                border-right: 1px solid #888;
            }
        }
    }
    #footerBot{
        display: flex;
        flex-direction: column;
        ul{
            display: flex;
            li{
                margin-right: 30px;
            }
        }
        .footerDis{
            display: flex;
        }
        p{
            &:first-child{
                padding-right: 10px;
                margin-right: 10px;
                border-right: 1px solid #888;
            }
        }
    }
}

//footer end

//mainIndex
#maindivide{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    width: 100%;
}

#mainIndex{
    // background: rgba(175, 238, 238, 0.2);
    width: 100%;
    height: 100%;
    .mainleft{
        width: 19%;
        #myPage{
            position: relative;
            width: 100%;
            height: 200px;
            background: #fff;
            border-radius: 4px;
            border: 1px solid var(--border-color);
            transition: 0.5s;
            &:hover{
                box-shadow: 3px 3px 5px -4px;
            }
            #status{
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                #myInfo{
                    font-size: 20px;
                    font-weight: bold;
                    overflow: hidden;
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 0 10px;
                    p{
                        &:first-child{
                            color: var(--text-color);
                            margin: 0;
                        }
                        &:last-child{
                            font-size: 10px;
                            color: #999;
                            margin: 0;
                        }
                    }
                }
                button{
                    font-size: 12px;
                    color: var(--text-color);
                    height: 30px;
                    width: 60px;
                    border-radius: 4px;
                }
                #imgSize{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 2px solid var(--border-color);
                    cursor: pointer;
                    img{
                        transition: 0.5s;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
            }
            #botBtn{
                display: flex;
                justify-content: space-between;
                padding: 0 40px;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 13%;
                button{
                    color: #3b4975;
                    height: 40px;
                    width: 100px;
                    border-radius: 4px;
                    box-shadow: 3px 3px 5px -4px;
                }
            }
            #norSearch{
                margin-top: 20px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 10%;
                input{
                    border-radius: 4px;
                    border: 1px solid var(--border-color);
                }
                #norSearchIcon{
                    height: 100%;
                    padding-left: 5px;
                    font-size: 20px;
                    svg{
                        height: 100%;
                    }
                }
            }
        }
    }
}

//mainIndex end


//mainright

#mainright{
    width: 80%;
    height: 670px;
    #rightTop{
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        #picTitle{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            width: 65%;
            height: 40px;
            a{
                height: 100%;
                color: var(--text-color);
                p{
                    margin: 0;
                    height: 100%;
                    line-height: 40px;
                }
                span{
                    height: 100%;
                    svg{
                        height: 100%;
                        path{
                            height: 100%;
                        }
                    }
                }
            }
            h2{
                padding-left: 50px;
                height: 100%;
                font-size: 20px;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    margin: 0;
                    height: 100%;
                    line-height: 40px;
                    margin: 0 10px;
                }
                svg{
                    height: 100%;
                    font-size: 26px;
                    position: relative;
                    top: -3px;
                }
            }
            .boardmore{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                transition: 0.1s ease-in-out;
                cursor: pointer;
                a{
                    color: var(--text-color);
                }
                &:hover{
                    transform: scale(1.05);
                }
                #moreBtn{
                    margin: 0;
                    height: 100%;
                    line-height: 40px;
                    font-size: 12px;
                    cursor: pointer;
                    color: var(--text-color);
                }
                span{
                    height: 100%;
                    margin-left: 5px;
                    svg{
                        height: 100%;
                        font-size: 18px;
                        position: relative;
                        top: -1.5px;
                        cursor: pointer;
                        path{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        #picView{
            width: 65%;
            height: 90%;
            margin-left: 10px;
            display: flex;
            position: relative;
            top: 6.3%;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
            .picboard{
                width: 49%;
                height: 48%;
                margin-bottom: 0px;
                border-radius: 4px;
                overflow: hidden;
                border: 1px solid var(--border-color);
                position: relative;
                transition: 0.5s;
                    &:hover {
                        box-shadow: 3px 3px 5px -4px;
                    }
                li{
                    width: 100%;
                    height: 100%;
                    &:nth-child(1){
                        width: 100%;
                        height: 80%;
                        position: relative;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0;
                            object-fit: cover;
                        }
                    }
                    &:nth-child(2){
                        width: 100%;
                        height: 20%;
                        // line-height: 60px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-top: 1px solid #999;
                        h5{
                            font-size: 18px;
                            width: 100%;
                            margin: 0;
                            text-align: center;
                        }
                        p{
                            width: 25%;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            margin: 0;
                        }
                        .picName{
                            height: 100%;
                        }
                        .userIcon{
                            position: relative;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background: var(--bg-color);
                            overflow: hidden;
                            margin-right: 10px;
                            img{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit:cover;
                            }
                        }
                    }
                }
                .blackbg{
                    display: block;
                    position: absolute;
                    top: 0; 
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.5);
                    transition: 0.5s;
                    opacity: 0;
                    p{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        background: var(--bg-color);
                        width: 100px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        color: var(--text-color);
                        border-radius: 4px;
                        border: 1px solid var(--border-color);
                        transition: 0.5s;
                        cursor: pointer;
                        &:hover{
                            background: var(--bg-color2);
                        }
                    }
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
        #boaCal{
            width: 35%;
            height: 650px;
            padding: 0 20px;
            #board{
                height: 50%;
                #boardtitle{
                    display: flex;
                    justify-content: center;
                    height: 40px;
                    position: relative;
                    align-items: center;
                    a{
                        position: absolute;
                        text-decoration: none;
                        color: var(--text-color);
                        width: 100%;
                        height: 100%;
                    }
                    h4{
                        font-size: 20px;
                        margin: 0;
                        height: 100%;
                        line-height: 40px;
                    }
                    > span{
                        font-size: 26px;
                        padding-right: 10px;
                        height: 100%;
                        svg{
                            height: 100%;
                        }
                    }
                    .boardmore{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        cursor: pointer;
                        position: absolute;
                        right: 2%;
                        transition: 0.1s ease-in-out;
                        &:hover{
                            transform: scale(1.05);
                        }
                        p{
                            cursor: pointer;
                            font-size: 12px;
                            margin: 0;
                            height: 100%;
                            line-height: 40px;
                        }
                        span{
                            font-size: 18px;
                            height: 100%;
                            margin-left: 5px;
                            cursor: pointer;
                            svg{
                                cursor: pointer;
                                height: 100%;
                                position: relative;
                                top: -0.7px;
                                path{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                #titleUl{
                    width: 100%;
                    height: 35px;
                    margin-bottom: 0;
                    display: flex;
                    justify-content: space-between;
                    font-size: 16px;
                    font-weight: bold;
                    border-top: 1px solid var(--border-color);
                    border-bottom: 1px solid var(--border-color);
                    background: #fff;
                    li{
                        height: 100%;
                        line-height: 35px;
                        text-align: center;
                        &:nth-child(1){
                            width: 20%;
                        }
                        &:nth-child(2){
                            width: 80%;
                        }
                    }
                }
                #boardUl{
                    width: 100%;
                    ul{
                        height: 34px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid #bbb;
                        background: #fff;
                        transition: 0.5s;
                        color: var(--text-color);
                        &:hover {
                            background: var(--button-color);
                        }
                        li{
                            text-align: center;
                            line-height: 37px;
                            color: #666;
                            &:nth-child(1){
                                width: 20%;
                                font-size: 12px;
                            }
                            &:nth-child(2){
                                width: 80%;
                                font-size: 16px;
                                span{
                                    width: 100%;
                                    cursor: pointer;
                                    margin-bottom: 0;
                                    a{
                                        color: var(--text-color);
                                    }
                                }
                            }
                            &:hover{
                                color: var(--text-color);
                            }
                        }
                    }
                }
            }
        }
        #calendar{
            height: 50%;
        }
    }
}
#rightBot{
    width: 100%;
    padding: 0 10px;
    #DDay{
        width: 100%;
        height: 130px;
        display: flex;
        .ddayDiv{
            position: relative;
            &:not(:first-child){
                margin-left: 1%;
            }
            width: 24%;
            text-align: center;
            border-radius: 4px;
            border: 1px solid var(--border-color);
            background: #fff;
            transition: 0.5s;
            &:hover {
                box-shadow: 3px 3px 5px -4px;
            }
            div{
                height: 33.3333%;
                line-height: 43px;
                &:nth-child(1){
                    width: 20%;
                    float: left;
                    border-bottom: 1px solid var(--border-color);
                    border-right: 1px solid var(--border-color);
                    background: var(--button-color);
                }
                &:nth-child(2){
                    width: 80%;
                    float: right;
                    border-bottom: 1px solid var(--border-color);
                }
                &:nth-child(3){
                    width: 20%;
                    float: left;
                    border-right: 1px solid var(--border-color);
                    background: var(--button-color);
                }
                &:nth-child(4){
                    width: 80%;
                    float: right;
                }
                &:nth-child(5){
                    width: 100%;
                    float: left;
                    border-top: 1px solid var(--border-color);
                    background: var(--button-color);
                }
            }
            button{
                width: 45px;
                height: 25px;
                font-size: 12px;
                border-radius: 4px;
                position: absolute;
                top: 6.5%;
                right: 3%;
                opacity: 0;
            }
            &:hover{
                button{
                    opacity: 1;
                }
            }
        }
    }
}

//mainright end

//bookmark

#bookmark{
    background: var(--button-color);
    width: 100%;
    height: 88%;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    transition: 0.5s;
    &:hover {
        box-shadow: 3px 3px 5px -4px;
    }
    #todoList{
        width: 100%;
        height: 100%;
      #todoItem{
        width: 100%;
        height: 90%;
        background: #fff;
        border-bottom: 1px solid var(--border-color);
        ul{
            margin: 0;
            width: 100%;
            height: 100%;
            .emerMemoTitle{
                width: 100%;
                height: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                background: var(--button-color);
                p{
                    margin: 0;
                    margin-left: 10px;
                }
            }
            li{
                height: 10%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: var(--text-color);
                border-bottom: 1px solid var(--border-color);
                &:hover{
                    #itemDel{
                        div{
                            opacity: 1;
                        }
                    }
                }
                #itemText{
                    width: 85%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding-left: 20px;
                    p{
                        margin: 0%;
                    }
                }
                #itemDel{
                    width: 15%;
                    height: 100%;
                    position: relative;
                    div{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background: var(--button-color);
                        transition: 0.3s ease-in-out;
                        cursor: pointer;
                        opacity: 0;
                        .itemBtn{
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 20px;
                            height: 5px;
                            background: var(--bg-color);
                            cursor: pointer;
                            &:nth-child(1){
                                transform: translate(-50%, -50%) rotate(45deg);
                            }
                            &:nth-child(2){
                                transform: translate(-50%, -50%) rotate(-45deg);
                            }
                        }
                    }
                }
            }
        }
      }  
      #todoAdd{
        position: relative;
        width: 100%;
        height: 100%;
        #todoBtn{
            position: absolute;
            top: 0.77%;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: var(--bg-color2);
            transition: 0.2s ease-in-out;
            cursor: pointer;
            &:hover{
                transform: translateX(-50%);
            }
            .todoPlusBtn{
                display: block;
                width: 30px;
                height: 7px;
                background: var(--button-color);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                cursor: pointer;
                &:nth-child(2){
                    transform: translate(-50%,-50%) rotate(90deg);
                }
            }
        }
      }
      #BMWbg{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
        z-index: 10;
    }
      #BookMemoWindow{
        position: absolute;
        z-index: 20;
        bottom: 13.5%;
        left: 7.5%;
        width: 320px;
        height: 200px;
        background: #fff;
        border-radius: 6px;
        border: 1px solid var(--border-color);
        overflow: hidden;
        transition: 0.5s;
        &:hover{
            box-shadow: 3px 3px 5px -4px;
        }
        #BMW{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            h1{
                padding-top: 20px;
                color: var(--text-color);
            }
            input{
                margin-bottom: 30px;
                width: 80%;
                border: 1px solid var(--border-color);
                border-radius: 4px;
            }
            button{
                width: 80%;
                height: 30px;
                border-radius: 6px;
            }
            #BMWXcircle{
                position: absolute;
                width: 30px;
                height: 30px;
                top: 5%;
                right: 5%;
                font-size: 30px;
                color: var(--bg-color2);
                cursor: pointer;
                svg{
                    cursor: pointer;
                    path{
                        cursor: pointer;
                    }
                }
            }
        }
      }
    }
}

//bookmark end

//fixed

#fixed{
    width: 60px;
    height: 300px;
    background: var(--button-color);
    position: fixed;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: 0.5s;
    &:hover{
        box-shadow: 3px 3px 5px -4px;
    }
    .fixedIcon{
        font-size: 30px;
        transition: 0.2s;
        position: relative;
        .iconName{
            position: absolute;
            top: 105%;
            left: -40%;
            font-size: 10px;
            line-height: 16px;
            width: 55px;
            height: 15px;
            background: var(--bg-color);
            border-radius: 30px;
            color: var(--text-color);
            text-align: center;
            margin: 0;
            display: none;
        }
        .iconBox{
            height: 30px;
            &:hover{
                .iconName{
                    display: block;
                }
            }
        }
        svg{
            cursor: pointer;
            height: 100%;
            color: var(--text-color);
            path{
                cursor: pointer;
            }
        }
    }
}

//fixed end

//Clock

#Clock{
    position: fixed;
    bottom: 2%;
    right: 1%;
    border: 1px solid var(--border-color);
    background: #fff;
    padding: 6px 12px;
    height: 40px;
    line-height: 30px;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
        box-shadow: 3px 3px 5px -4px;
    }
    h2{
        margin: 0;
        color: var(--text-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        .clockDot{
            animation-name: clockDot;
            animation-iteration-count: infinite;
            animation-duration: 1s;
            margin: 0 3px;
            cursor: pointer;
        }
        .clockSec{
            margin: 0 3px;
            cursor: pointer;
        }
    }
}

//Clock end

//join

#frontBg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 10;
}
#JoinWindow {
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 650px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    transition: 0.5s;
    &:hover {
        box-shadow: 3px 3px 5px -4px;
    }
    form{
        width: 100%;
        height: 100%;
        color: var(--text-color);
        #JW{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            position: relative;
            #JWXcircle{
                position: absolute;
                top: 4%;
                right: 5%;
                height: 30px;
                font-size: 30px;
                color: var(--bg-color2);
                cursor: pointer;
                svg{
                    cursor: pointer;
                    path{
                        cursor: pointer;
                    }
                }
            }
            #readMe{
                position: absolute;
                top: 4%;
                left: 5%;
                color : #ccc;
            }
            h1{
                width: 100%;
                height: 13%;
                line-height: 80px;
                margin: 0;
                text-align: center;
            }
            table{
                width: 100%;
                border-collapse: collapse;
                tr{
                    height: 40px;
                    td{
                        &:first-child{
                            width: 25%;
                            line-height: 50px;
                            text-align: right;
                            padding-right: 10px;
                        }
                        &:last-child{
                            width: 75%;
                            input{
                                width: 75%;
                            }
                        }
                    }
                    &:nth-child(5){
                        td{
                            &:last-child{
                                input{
                                    width: 22.4%;
                                }
                            }
                        }
                    }
                    &:nth-child(6){
                        td{
                            &:last-child{
                                input{
                                    width: 34.6%;
                                }
                            }
                        }
                    }
                    &:nth-child(7){
                        input{
                            width: 75%;
                        }
                        button{
                            height: 35px;
                            border-radius: 4px;
                            margin-left: 5px;
                        }
                    }
                    &:last-child{
                        height: 100px;
                        td{
                            width: 100px;
                            position: relative;
                            #imgview{
                                width: 100px;
                                height: 100px;
                                border-radius: 10px;
                                overflow: hidden;
                                img{
                                    width: 100px;
                                    height: 100px;
                                }
                            }
                            input{
                                position: absolute;
                                top: 50%;
                                left: 27%;
                                transform: translateY(-50%);
                                width: 80px;
                                height: 30px;
                                padding: 0;
                                opacity: 0;
                            }
                        }
                    }
                }
            }
            > button{
                margin-top: 12px;
                height: 40px;
                border-radius: 4px;
            }
            .uploadImg{
                width: 100%;
                height: 100px;
                display: flex;
                align-items: center;
                img{
                    width: 100px;
                }
                button{
                    height: 30px;
                    border-radius: 4px;
                    cursor: context-menu;
                    margin-left: 10px;
                }
            }
        }
    }
}
//join end

//dday add

#DdayAdd{
    #DAWbg{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
        z-index: 10;
    }
    #DdayAddWindow{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        height: 70%;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        background: #fff;
        z-index: 20;
        overflow: hidden;
        transition: 0.5s;
        &:hover{
            box-shadow: 3px 3px 5px -4px;
        }
        form{
            width: 100%;
            height: 100%;
            #DAW{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                h1{
                    padding-top: 20px;
                    color: var(--text-color);
                }
                input{
                    width: 30%;
                    margin-bottom: 30px;
                    border: 1px solid var(--border-color);
                    border-radius: 4px;
                }
                button{
                    width: 20%;
                    height: 60px;
                    border-radius: 6px;
                }
                #DAWXcircle{
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    top: 5%;
                    right: 5%;
                    font-size: 30px;
                    color: var(--bg-color2);
                    cursor: pointer;
                    svg{
                        cursor: pointer;
                        path{
                            cursor: pointer;
                        }
                    }
                }
                #DAWCal{
                    width: 60%;
                    height: 50%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

//dday add end
//realBM

#reamBMbox{
    width: 16%;
    height: 63%;
    position: absolute;
    top: 31%;
    overflow: hidden;
    pointer-events : none;
    #reamBMwindow{
        pointer-events : auto;
        background: #fff;
        width: 100%;
        height: 100%;
        position: absolute;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        transition: 0.5s ease-in-out;
        left: 0;
        ul{
            width: 100%;
            height: 100%;
            color : var(--text-color);
            li{
                width: 100%;
                height: 5%;
                line-height: 30px;
                text-align: left;
                padding-left: 3%;
                cursor: pointer;
                border-bottom: 1px dotted var(--border-color);
                &:first-child{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    height: 10%;
                    text-align: center;
                    font-size: 20px;
                    line-height: 62px;
                    background: var(--button-color);
                    border-bottom: 1px solid var(--border-color);
                    cursor: default;
                    &:hover{
                        background: var(--button-color);
                    }
                    svg{
                        height: 100%;
                        font-size: 25px;
                        margin-right: 5px;
                        path{
                            height: 100%;
                        }
                    }
                }
                &:hover{
                    background: var(--button-color);
                }
            }
        }
    }
    #moreBM{
        width: 100%;
        height: 32px;
        position: absolute;
        bottom: 0px;
        text-align: right;
        border-top: 1px solid var(--border-color);
        border-radius: 0 0 4px 4px;
        background: var(--button-color);
        svg{
            font-size: 22px;
            padding-top: 2px;
            height: 29.41px;
            color: var(--text-color);
            margin-right: 4%;
            cursor: pointer;
            path{
                height: 29.41px;
                cursor: pointer;
            }
        }
    }
}
#moreBMbox{
    width: 200px;
    height: 802px;
    position: absolute;
    z-index: 1;
    top: 8.5%;
    left: 25%;
    #moreBMWindow{
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 4px;
        border: 1px solid var(--border-color);
        transition: 0.2s ease-in-out;
        ul{
            width: 100%;
            height: 100%;
            li{
                width: 100%;
                height: 29.41px;
                line-height: 29.41px;
                padding-left: 3%;
                border-bottom: 1px dotted var(--border-color);
                cursor: pointer;
                &:hover{
                    background: var(--button-color);
                }
            }
        }
    }
}


//reamBM end

//subpage
.subindex{
    display: flex;
}

.subLeft{
    position: relative;
    color: var(--text-color);
    width: 30%;
    padding-top: 30px;
    box-shadow: 5px 0px 5px -4px;
    border-left: 1px solid #ccc;
    .subMyPage{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .subImgSize{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 3px 3px 5px -4px;
            img{
                transition: 0.2s;
            }
            &:hover{
                img{
                    transform: scale(1.05);
                }
            }
            margin-bottom: 10px;
        }
        p{
            margin: 0;
        }
        .subName{
            font-size: 28px;
        }
        .subEmail{
            font-size: 14px;
            color: #999;
        }
        padding-bottom: 30px;
        border-bottom: 1px dotted var(--border-color);
    }
    .subMenu{
        margin-top: 30px;
        ul{
            width: 100%;
            li{
                height: 50px;
                line-height: 55px;
                padding-left: 30px;
                font-size: 30px;
                margin-bottom: 20px;
                p{
                    cursor: pointer;
                    width: 60%;
                    height: 100%;
                    transition: 0.2s ease-in-out;
                    text-align: left;
                    font-weight: normal;
                    color: #aaa;
                    &:hover{
                        transform: translateX(3%);
                        color: var(--text-color);
                    }
                }
            }
            .subSelect{
                font-size: 37px;
                p{
                    color: var(--text-color);
                    padding-left: 10px;
                }
            }
        }
    }
}
.subRight{
    width: 70%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    h1{
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
        color: var(--text-color);
        font-size: 40px;
    }
    #BMmanager{
        width: 100%;
        min-height: 700px;
        position: relative;
        padding: 0 50px;
        #BMAddBtn{
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            #BMAddInput{
                margin-left: 20px;
                padding: 10px 30px;
                border-radius: 4px;
                border: 1px solid var(--border-color);
                transition: 0.2s;
                p{
                    margin: 0;
                }
                #BMinput{
                    margin-right: 20px;
                }
                #BMinput2{
                    width: 350px;
                }
            }
            button{
                border-radius: 6px;
                height: 30px;
            }
            #submitBM{
                position: absolute;
                right: 5.1%;
            }
        }
        ul{
            margin: 0;
            margin-top: 20px;
            margin-bottom: 50px;
            border-top: 1px solid var(--border-color);
            li{
                display: flex;
                font-size: 20px;
                height: 50px;
                position: relative;
                border-bottom: 1px dotted var(--border-color);
                padding-left: 30px;
                p{
                    margin: 0;
                    line-height: 55px;
                }
                svg{
                    height: 100%;
                    position: absolute;
                    right: 3%;
                    cursor: pointer;
                    transition: 0.2s;
                    path{
                        cursor: pointer;
                    }
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}
//subpage end

//normemo page
#norListPage{
    height: 100vh;
}
#norTitle{
    width: 100%;
    padding: 0 50px;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: var(--text-color);
    font-size: 24px;
    height: 50px;
    li{
        text-align: center;
        height: 100%;
        line-height: 50px;
        &:nth-child(1){
            width: 20%;
        }
        &:nth-child(2){
            width: 80%;
        }
    }
    border-bottom: 1px solid var(--border-color);
}
#rightNorList{
    width: 100%;
    overflow-y: scroll;
    height: 700px;
    #norList{
        width: 100%;
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        color: var(--text-color);
        font-size: 18px;
        height: 50px;
        &:hover{
            background: var(--button-color);
        }
        li{
            text-align: center;
            height: 100%;
            line-height: 50px;
            a{
                color: var(--text-color);
            }
            &:nth-child(1){
                width: 20%;
            }
            &:nth-child(2){
                width: 80%;
            }
        }
        border-bottom: 1px dotted var(--border-color);
    }
}

#rightNorList::-webkit-scrollbar {
    display: none;
}

#addNorBtn {
    position: absolute;
    bottom: 4%;
    right: 15%;
    height: 35px;
    border-radius: 6px;
    color: var(--text-color);
}

//normemo page end

//NMC

.NMC{
    width: 70%;
    height: 100vh;
    form{
        width: 100%;
        height: 100%;
        padding-top: 50px;
        .NMCInput{
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            align-items: center;
            padding: 0 100px;
            p{
                width: 100%;
                text-align: left;
                height: 100%;
                margin: 0;
                margin-right: 10px;
                padding-left: 45px;
                margin-bottom: 5px;
            }
            input{
                width: 700px;
                border: 1px solid var(--border-color);
                border-radius: 4px;
                margin-bottom: 30px;
            }
            textarea{
                resize: none;
                width: 700px;
                height: 400px;
                outline: none;
                padding-left: 10px;
                border: 1px solid var(--border-color);
                border-radius: 4px;
                padding-top: 5px;
                cursor: text;
            }
        }
        .NMCtitle{
            padding-left: 100px;
            font-size: 30px;
            margin: 0;
        }
        .NMCmini{
            padding-left: 100px;
            border-bottom: 1px dotted var(--border-color);
            margin-bottom: 30px;
            padding-bottom: 10px;
        }
        .NMCBtn{
            margin-top: 30px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                border-radius: 6px;
                height: 35px;
                &:last-child{
                    margin-left: 10px;
                }
            }
        }
        .detailView{
            width: 100%;
            height: 550px;
            scrollbar-width: none;
            overflow-y: scroll;
            padding-left: 100px;
        }
        .detailBtns{
            padding-left: 100px;
            padding-top: 20px;
            position: relative;
            display: flex;
            align-items: center;
            a{
                padding: 5.5px 16.343px;
                border-radius: 4px;
                border: 1px solid var(--border-color);
                outline: none;
                transition: 0.5s;
                background: var(--button-color);
                color: var(--text-color);
                cursor: pointer;
            
                &:hover {
                    background: var(--bg-color2);
                }
                }
            button{
                height: 35px;
                border-radius: 4px;
                &:nth-child(2){
                    margin-left: 10px;
                }
                &:last-child{
                    position: absolute;
                    right: 0;
                }
            }
        }
        .detailView::-webkit-scrollbar{
            display: none;
        }
    }
}

//NMC end

//NDW
#NDWbg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.3);
}
#NDW{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    background: #fff;
    color: var(--text-color);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    transition: 0.5s;
    &:hover{
        box-shadow: 3px 3px 5px -4px;
    }
    h1, h2{
        color: var(--text-color);
        margin: 0;
    }
    #NDWWindow{
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            margin: 0;
            color: #bbb;
        }
        h1{
            text-align: center;
            width: 100%;
            height: 30%;
            font-size: 40px;
            line-height: 96px;
            color: palevioletred;
            margin-top: 30px;
        }
        h2{
            font-size: 30px;
            margin-top: 30px;
        }
    }
    #NDWBtns{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 160px;
        padding-top: 10px;
        button{
            height: 35px;
            border-radius: 4px;
        }
    }
}

//NDW end